* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

#GLWindow {
    width: 100%;
    height: 100%;

    canvas {
        display: block;
    }
}
