* {
    box-sizing: border-box;
}

html {
    font-size: 3vh;
    font-family: serif;
    color: #fff;
}

body {
    margin: 0;
}

#GLWindow {
    width: 100%;
    height: 100%;

    canvas {
        display: block;
    }
}

#UI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div {
        width: 100%;
        height: 100%;
    }
}

#LoadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}
